<h3>Add registration: </h3>
<form action="/registration/submit" method="POST">
	<input type="text" name="registration[person_id]" value="Enter Person Name" />
  <input type="text" name="registration[event_id]" value="Enter Event Name" />
	<input type="checkbox" name="registration[status]" value="Coming">Coming
	<input type="checkbox" name="registration[status]" value="Not Coming">Not Coming
	<input type="checkbox" name="registration[status]" value="Maybe">Maybe
	<input type="submit" value="Submit" />
</form>
