<h3>Add event: </h3>
<form action="/event/submit" method="POST">
	<input type="text" name="event[name]" value="Enter Event Name" />
  <input type="date" name="event[date]" value="Enter Date of Event" />
	<input type="submit" value="Submit" />
</form>
