<h3>Add person: </h3>
<form action="/person/submit" method="POST">
	<input type="text" name="person[name]" value="Enter Person Name" />
  <input type="date" name="person[date_of_birth]" value="Enter Date of Birth" />
	<input type="text" name="person[gender]" value="Enter Gender" />
	<input type="text" name="person[zip_code]" value="Enter Zip Code" />
	<input type="submit" value="Submit" />
</form>
