<h3>These are all the registrations!</h3>
<ol>
  <% i = 0 %>
<% @registrations.each do |reg| %>
  <li>
		<strong><%= "Person: #{Person.find_by(id: reg.person_id).name}.   Event: #{Event.find_by(id: reg.event_id).name}.   Status: #{reg.status}." %></strong>
	</li>
<% end %>
</ol>
<a href="/">Go back to the home page!</a>
